
.modal-body{
  padding: 0;
  min-height: 208px;
  background-size: cover;
  background-repeat: no-repeat;
  // background: linear-gradient(rgba(249, 119, 76,.75), rgba(128, 42, 12,.85));
  background-color: black;
  background-image: url("/img/ds-image.jpg");
  // background-color: black;
  .overlay{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    // background: rgba(#1d809f,0.3);
    background: rgba(#174452,0.7);
    .modal-title{
      color: #FFF;
      text-align: center;
      margin: 0 20px 35px;
      padding: 55px 0 0;
    }
    .modal-description{
      color: #FFF;
      padding: 0 20px 12px;
      margin: 0;
    }
    .modal-description:last-child{
      margin-bottom: 48px;
    }
  }
}

.modal-footer{
  border-top: none;
}