.modal-header{
  border-bottom: none;
  padding: 15px 15px 0 15px;
  background-image: url('/img/ds-image.jpg');
  height: 208px;
  background-size: cover;
  background-repeat: no-repeat;
  .modal-title{
    color: white;
    display: block;
    text-align: center;
  }
}

.modal-footer{
  border-top: none;
}